[submodule ".vim/plugged/lightline.vim"]
	path = .vim/plugged/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/plugged/coc.nvim"]
	path = .vim/plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule ".vim/plugged/vim-fugitive"]
	path = .vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/plugged/calendar.vim"]
	path = .vim/plugged/calendar.vim
	url = https://github.com/itchyny/calendar.vim
[submodule ".vim/plugged/supertab"]
	path = .vim/plugged/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/plugged/fzf.vim"]
	path = .vim/plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/plugged/fzf"]
	path = .vim/plugged/fzf
	url = https://github.com/junegunn/fzf
